In [1]:
import pandas as pd

In [5]:
# d1= pd.read_csv("source 1/gurgaon_10k.csv")
d2= pd.read_csv("source 1/hyderabad.csv")
d3= pd.read_csv("source 1/kolkata.csv")
d4= pd.read_csv("source 1/mumbai.csv")

In [14]:
d3.info

<bound method DataFrame.info of         PROP_ID PREFERENCE                                        DESCRIPTION  \
0     Y71306776          S  Book your 2 BHK flat in Srijan Star Swapno Pur...
1     B70113976          S  Make Natural Quest your next home. This projec...
2     O70374510          S  Book your 3 BHK apartment in Garia, Kolkata So...
3     Q69170182          S  Dev bhumi in joka, kolkata south by ocean land...
4     F69917588          S  Let your dream of owning a flat come true with...
...         ...        ...                                                ...
8792  J66826540          S  Ambuja upohar the condoville is one of the mos...
8793  E66826562          S  Looking for a 3 bhk property for sale in kolka...
8794  J71210104          S  It is a standard 2 bhk with 2 room, 2 bath, 1 ...
8795  I41581465          R  A very good 3 bhk flat for rent in south city,...
8796  E67621228          R  Explore this amicable adhunika chs of lake gar...

              PROPERTY_TYPE           CITY  TRANSACT_TYPE  OWNTYPE  \
0     Residential Apartment  Kolkata South            2.0        1
1     Residential Apartment  Kolkata South            2.0        1
2     Residential Apartment  Kolkata South            2.0        1
3          Residential Land  Kolkata South            2.0        1
4     Residential Apartment  Kolkata South            2.0        1
...                     ...            ...            ...      ...
8792  Residential Apartment  Kolkata South            1.0        1
8793  Residential Apartment  Kolkata South            1.0        1
8794  Residential Apartment   Kolkata East            1.0        1
8795  Residential Apartment  Kolkata South            NaN        0
8796  Residential Apartment  Kolkata South            NaN        0

      BEDROOM_NUM  PRICE_PER_UNIT_AREA  FURNISH  ...  \
0             2.0               3662.0        0  ...
1             3.0              10500.0        0  ...
2             3.0               8900.0        0  ...
3             NaN                208.0        0  ...
4             3.0               5215.0        0  ...
...           ...                  ...      ...  ...
8792          3.0               8410.0        4  ...
8793          3.0               8417.0        4  ...
8794          2.0               5887.0        2  ...
8795          3.0                 37.0        1  ...
8796          2.0                 31.0        1  ...

                     BUILDING_NAME  \
0         Srijan Star Swapno Puron
1                    Natural Quest
2          Ganguly 4Sight Eminence
3                        Dev Bhumi
4                        DTC Sojon
...                            ...
8792  Ambuja Upohar The Condoville
8793  Ambuja Upohar The Condoville
8794          DLF New Town Heights
8795                    South City
8796                  Adhunika CHS

                                               location  BALCONY_NUM  \
0     {'CITY': '27', 'CITY_NAME': 'Kolkata South', '...          NaN
1     {'CITY': '27', 'CITY_NAME': 'Kolkata South', '...          NaN
2     {'CITY': '27', 'CITY_NAME': 'Kolkata South', '...          NaN
3     {'CITY': '27', 'CITY_NAME': 'Kolkata South', '...          NaN
4     {'CITY': '27', 'CITY_NAME': 'Kolkata South', '...          NaN
...                                                 ...          ...
8792  {'CITY': '27', 'CITY_NAME': 'Kolkata South', '...          2.0
8793  {'CITY': '27', 'CITY_NAME': 'Kolkata South', '...          2.0
8794  {'CITY': '28', 'CITY_NAME': 'Kolkata East', 'L...          1.0
8795  {'CITY': '27', 'CITY_NAME': 'Kolkata South', '...          1.0
8796  {'CITY': '27', 'CITY_NAME': 'Kolkata South', '...          1.0

     FLOOR_NUM CARPET_SQFT  SUPERBUILTUP_SQFT BUILTUP_SQFT SUPER_AREA  \
0            1         NaN                NaN          NaN        NaN
1            1         NaN                NaN          NaN        NaN
2            1         NaN                NaN          NaN        NaN
3          NaN         NaN                NaN          NaN        NaN
4            1         NaN                NaN          NaN        NaN
...        ...         ...                ...          ...        ...
8792        14         NaN             1843.0          NaN        NaN
8793        10         NaN             2079.0       1875.0        NaN
8794         3       900.0             1257.0       1050.0        NaN
8795        24         NaN             1458.0          NaN        NaN
8796         2       800.0                NaN          NaN        NaN

     SUPERAREA_UNIT SUPER_SQFT
0               NaN        NaN
1               NaN        NaN
2               NaN        NaN
3               NaN        NaN
4               NaN        NaN
...             ...        ...
8792            NaN        NaN
8793            NaN        NaN
8794            NaN        NaN
8795            NaN        NaN
8796            NaN        NaN

[8797 rows x 35 columns]>

In [10]:
d4[].unique

AttributeError: 'DataFrame' object has no attribute 'unique'